<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.demo.system.dao.UserDao">

    <sql id="Base_Column_List">
        id, name,adress
    </sql>
    <select id="selectAll" resultType="com.yc.demo.system.entity.User">
        select
        <include refid="Base_Column_List"/>
        from tb_user;
    </select>
</mapper>